<app-header></app-header>
<app-navigation></app-navigation>
<h1 style="text-align: center"> FACILITY </h1>

<button class="btn btn-danger" [routerLink]="['/facility-create']">Thêm Mới </button>

<table class="table table-info">
  <thead>
  <tr>
    <th>STT</th>
    <th>Name</th>
    <th>Area</th>
    <th>Cost</th>
    <th>Max People</th>
    <th>Description Other Convenience</th>
    <th>Pool Area</th>
    <th>Number Floors</th>
    <th>Facility Free</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let temp of facilityList; index as i">
    <td>{{i}}</td>
    <td>{{temp.name}}</td>
    <td>{{temp.area}}</td>
    <td>{{temp.cost}}</td>
    <td>{{temp.maxPeople}}</td>
    <td>{{temp.descriptionOtherConvenience}}</td>
    <td>{{temp.poolArea}}</td>
    <td>{{temp.numberOfFloors}}</td>
    <td>{{temp.facilityFree}}</td>
    <td>
      <button class="btn btn-danger" [routerLink]="['/facility-edit']">EDIT</button>
    </td>

    <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Delete
    </button></td>
  </tr>
  </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal Xóa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
