<h1>Chỉnh Sửa Học Sinh</h1>
<form [formGroup]="studentForm" (ngSubmit)="updateStudent()" >
  <table>
    <tr>
    <td>Name</td>
    <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>dateOfBirth</td>
      <td><input type="date" formControlName="dateOfBirth"></td>
    </tr>
    <tr>
      <td>point</td>
      <td><input type="text" formControlName="point"></td>
    </tr>
    <tr>
      <td>email</td>
      <td><input type="text" formControlName="email"></td>
    </tr>
    <tr>
      <td>address</td>
      <td><input type="text" formControlName="address"></td>
    </tr>
    <tr>
      <select formControlName="Class" [compareWith]="compareWith">
        <option value="">--Chọn Lớp</option>
        <option *ngFor="let class of classList" [ngValue]="class">{{class.name}}</option>
      </select>
    </tr>
    <tr><button type="submit">Edit</button></tr>
  </table>
</form>
