<app-header></app-header>
<app-navigation></app-navigation>
<h1 style="text-align: center"> CUSTOMER </h1>

<button class="btn btn-danger" [routerLink]="['/customer-create']">Thêm Mới </button>
<table class="table table-info">
  <thead>
  <tr>
    <th>STT</th>
    <th>CustomerCode</th>
    <th>customerType</th>
    <th>Name</th>
    <th>DateOfBirth</th>
    <th>Email</th>
    <th>IdCard</th>
    <th>Gender</th>
    <th>PhoneNumber</th>
    <th>Address</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let temp of customerList; index as i">
    <td>{{i}}</td>
    <td>{{temp.customerCode}}</td>
    <td>{{temp.customerType.name}}</td>
    <td>{{temp.name}}</td>
    <td>{{temp.dateOfBirth}}</td>
    <td>{{temp.idCard}}</td>
    <td>{{temp.phoneNumber}}</td>
    <td>{{temp.gender}}</td>
    <td>{{temp.email}}</td>
    <td>{{temp.address}}</td>

    <td>
      <button class="btn btn-danger" [routerLink]="['/customer-edit']">EDIT</button>
    </td>
    <td>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
              (click)="delete = temp">
        Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa product: {{delete.name}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)="deleteCustomer()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
