<div>
  <div class="container-fluid">
    <div class="row" style="height:300px">
      <div class="col-1 " style="background-color: blue">
      </div>
      <div class="col-3" style="background-color: white">
        <span style="font-size: 25px; display: flex; justify-content: center">Hướng Dẫn Di Chuyển</span><br>
        <span style="font-size: 12px">Khu nghỉ dưỡng Furama là cơ sở hàng đầu để</span>
        <span style="font-size: 12px">khám phá một trong những điểm đến hấp dẫn</span>
        <span style="font-size: 12px">nhất Châu Á. Chỉ cách Đà Nẵng một quãng lái xe</span>
        <span style="font-size: 12px">ngắn là bốn Di sản Văn hóa Thế giới được</span>
        <span style="font-size: 12px">UNESCO công nhận:</span>
        <br>
        <br>

        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
             class="bi bi-geo-alt" viewBox="0 0 16 16">
          <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
          <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>
        <button style="background-color:darkgreen; color: white"> Xem Trên Bản Đồ</button>
        <br>
        <a style="font-size: 25px; display: flex; justify-content: center">Địa Điểm</a>
      </div>
      <div class="col-8" style="background-color:red">


      </div>
    </div>
  </div>
</div>

